<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the property file : sport values -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    <bean id = "MyFortuneService"
          class="com.learning.springDemo.HappyFortuneService">
    </bean>
    <bean id="myCoach"
          class ="com.learning.springDemo.TrackCoach">
        <!-- set up constructor injection -->
        <constructor-arg ref = "MyFortuneService">
                </constructor-arg>
    </bean>

    <bean id="MyCricketCoach"
          class="com.learning.springDemo.CricketCoach">
        <!-- set up Setter injection -->
        <property name="fortuneService"
                  ref="MyFortuneService"/>

        <!-- set up injection literal values -->
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>
</beans>
